// seccion de imports de variables
@import 'format/color';

// /* fondo para todo el proyecto */


body {
    background-image: url(../images/backs/back-movil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

// /* barra de navegacion */

.navBarColor {
    background-color: $colorBase;

}

.dropdown-menu {
    background-color: $colorBase;
    color: $colorFuente;
}

.dropdown-item {
    color: $colorFuente;
}

// /* posicion de logo derecha */

.posDerechaLogo {
    position: absolute;
    top: 0;
    right: 2vh;
    text-align: right;
    margin: auto;
}


// /* grilla para home */

.containerHome {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 1vh;

}

.containerImg {
    position: relative;
    align-content: center;
    width: 80%;

    &:hover {
        .image {
            opacity: 0.3;
        }

        .middle {
            opacity: 1;
        }

    }
}

.image {
    border-radius: 90%;
    position: relative;
    opacity: 1;
    display: unset;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: $colorFuente;
    font-size: 32px;
    padding: 32px 32px;
}

// Footer general 

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(21, 22, 26);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 0px;
}

.textFooter {
    font-size: 10px;
    font-weight: bold;
    margin: 40px auto;
}

.listFooter {
    margin: 5px auto;
    display: flex;
    list-style-type: none;

    li {
        a {
            text-decoration: none;
            color: $colorFuente;
            font-size: 10px;
            font-weight: bold;
            padding: 5px;

            &:hover {
                color: $colorHover;
            }
        }
    }
}

.socialMedia {
    margin: 0px auto;

    i {
        padding: 10px;
        font-size: 15px;
        color: $colorFuente;

        &:hover {
            color: $colorHover
        }
    }
}


// /* center page */

.centerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// /* galeria salidas */ 
.galImagenes {
    margin-top: 130px;
    margin-left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: 100vh;

    img {
        margin: 10px;
        border: 3px solid $colorNegro;
        box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
        max-width: 23vw;
    }
}

// /* cards cursos */

.cardColor {
    background-color: $colorBase
}

.card-text {
    color: $colorFuente;
}

.card-title {
    color: $colorFuente;
}

.list-group-item {
    color: $colorFuente;
}

.list-group-item1 {
    color: $colorFuente;
}


// /* form contacto */

.formBackground {
    display: flex;
    min-height: 90vh;
}

.formContainer {
    flex: 0 1 900px;
    margin: auto;
    padding: 5px;
}

.formBox {
    position: relative;
    background: $colorBase;
    border-radius: 15px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px $colorBase;
        z-index: -1;
    }
}

.formBoxBody {
    display: flex;
}

.formBoxBodyItem {
    flex: 1;
    padding: 50px;

    .left {
        display: flex;
        flex-direction: column;
    }
}

.formTitulo {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $colorFuente;
    font-size: 26px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: #FFF;
    }
}

.formContenido {
    margin-bottom: 15px;

    .botones {
        margin-bottom: 0;
        text-align: right;
    }
}

.formIngreso {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: $colorFuente;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;

    &::placeholder {
        color: rgb(87, 85, 85);
    }

    &:focus {
        border-bottom-color: $colorFuente;
    }
}


.formLabel {
    width: 100%;
    padding: 5px 0;
    background: none;
    border: none;
    color: $colorFuente;
    font-size: 12px;
    text-transform: uppercase;
}

.formLabelTitulo {
    width: 100%;
    padding: 5px 0;
    background: none;
    border: none;
    color: $colorFuente;
    font-size: 16px;
    text-transform: uppercase;
}

.formBoton {
    background: none;
    border: none;
    color: $colorFuente;
    font-size: 18px;
    cursor: pointer;
    outline: none;

    &:hover {
        color: $colorHover;
    }
}

// staff cards

.galCards {
    margin-top: 130px;
    margin-left: 1%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: 100vh;

    img {
        margin: 10px;
        border: 3px solid $colorNegro;
        box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
        max-width: 23vw;
    }
}

.cardStaff {
    width: 350px;
    height: 250px;
    margin: 0px auto;
    cursor: pointer;
    perspective: 1000;
    -webkit-perspective: 1000;

    &__giro {
        position: relative;
        transition: 0.8s ease-in-out;
        transform-style: preserve-3d;
    }

    &__imagen {
        max-width: 100%;
    }

    &__frente,
    &__atras {
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 250px;
        -webkit-perspective: 1000;
        perspective: 1000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__atras {
        transform: rotateY(180deg);
        background: $colorBase;
        color: $colorFuente;
    }

    &__titulo {
        position: relative;
        height: 50px;
        margin: auto;
        text-align: center;
        font-size: 36px;
    }

    &:hover {
        .cardStaff__giro {
            transform: rotateY(180deg);
        }
    }

    &__subtitulo {
        font-size: 22px;
        text-align: center;
    }

    &__texto {
        margin-bottom: 0;
        font-size: 18px;
        text-align: center;
    }
}


/* color de tarjetas */

$colorTarjeta: (insPadi: $colorInsPadi,
    insSnsi: $colorInsSnsi,
    divPadi: $colorDivPadi,
    divSnsi: $colorDivSnsi);

@each $colorname, $colorcard in $colorTarjeta {
    .cardColor--#{$colorname} {
        background-color: $colorcard;
    }
}


@media screen and (min-width: 768px) {
    body {
        background-image: url(../images/backs/back-tablet.png);
    }

    .listFooter {
        li {
            a {
                padding: 10px;
                font-size: 12px;
            }
        }
    }

    .socialMedia {
        i {
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: url(../images/backs/back-full.jpg);
    }

    .listFooter {
        li {
            a {
                padding: 15px;
                font-size: 15px;
            }
        }
    }

    .socialMedia {
        i {
            padding: 10px;
        }
    }
}